# Proyecto 2: API

API de la información de las Cantidades Asignadas de Importación y Exportación de electricidad del Sistema Interconectado Nacional (SIN) en el período del 01 al 31 julio de 2022. 

Información obtenida del Centro Nacional de Control de Energía (CENACE).

*Nota:* las peticiones del SIN son diferentes a las de Baja California, por lo que se hace doble petición para el mismo período de tiempo.

In [2]:
import requests
import time
import pandas as pd

Requests
-------

In [3]:
res_1 = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/01/2022/07/06/JSON')
res_1.status_code

200

In [29]:
res_1BC = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/BCA/MDA/2022/07/01/2022/07/06/JSON')
res_1BC.status_code

200

In [5]:
res_2 = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/07/2022/07/10/JSON')
res_2.status_code

200

In [30]:
res_2BC = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/BCA/MDA/2022/07/07/2022/07/10/JSON')
res_2BC.status_code

200

In [8]:
res_3 = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/11/2022/07/15/JSON')
res_3.status_code

200

In [9]:
res_3BC = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/11/2022/07/15/JSON')
res_3BC.status_code

200

In [10]:
res_4 = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/16/2022/07/19/JSON')
res_4.status_code

200

In [11]:
res_4BC = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/16/2022/07/19/JSON')
res_4BC.status_code

200

In [12]:
res_5 = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/20/2022/07/23/JSON')
res_5.status_code

200

In [13]:
res_5BC = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/20/2022/07/23/JSON')
res_5BC.status_code

200

In [14]:
res_6 = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/24/2022/07/27/JSON')
res_6.status_code

200

In [15]:
res_6BC = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/24/2022/07/27/JSON')
res_6BC.status_code

200

In [16]:
res_7 = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/28/2022/07/30/JSON')
res_7.status_code

200

In [17]:
res_7BC = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/28/2022/07/30/JSON')
res_7BC.status_code

200

In [18]:
res_8 = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/31/2022/07/31/JSON')
res_8.status_code

200

In [19]:
res_8BC = requests.get('https://ws01.cenace.gob.mx:8082/SWEAIMPEX/SIM/SIN/MDA/2022/07/31/2022/07/31/JSON')
res_8BC.status_code

200

JSON data
-------

In [31]:
# Sistema Interconectado Nacional
res_1_json = res_1.json()
res_2_json = res_2.json()
res_3_json = res_3.json()
res_4_json = res_4.json()
res_5_json = res_5.json()
res_6_json = res_6.json()
res_7_json = res_7.json()
res_8_json = res_8.json()

# Baja California
res_1BC_json = res_1BC.json()
res_2BC_json = res_2BC.json()
res_3BC_json = res_3BC.json()
res_4BC_json = res_4BC.json()
res_5BC_json = res_5BC.json()
res_6BC_json = res_6BC.json()
res_7BC_json = res_7BC.json()
res_8BC_json = res_8BC.json()

In [32]:
pd.DataFrame(res_1_json)

,status,nombre,proceso,sistema,area,Resultados
0,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CD INDUSTRIAL - LAREDO AMER', ..."
1,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CUMBRES FRONTERA - RAIL ROAD',..."
2,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'PIEDRAS NEGRAS - EAGLE PASS', ..."
3,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'TAPACHULA-LOS BRILLANTES', 'Va..."
4,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'XULHA-BELICE', 'Valores': [{'f..."
5,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CD INDUSTRIAL - LAREDO AMER', ..."
6,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CUMBRES FRONTERA - RAIL ROAD',..."
7,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'PIEDRAS NEGRAS - EAGLE PASS', ..."
8,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'TAPACHULA-LOS BRILLANTES', 'Va..."
9,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'XULHA-BELICE', 'Valores': [{'f..."
10,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CD INDUSTRIAL - LAREDO AMER', ..."
11,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CUMBRES FRONTERA - RAIL ROAD',..."
12,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'PIEDRAS NEGRAS - EAGLE PASS', ..."
13,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'TAPACHULA-LOS BRILLANTES', 'Va..."
14,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'XULHA-BELICE', 'Valores': [{'f..."
15,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CD INDUSTRIAL - LAREDO AMER', ..."
16,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CUMBRES FRONTERA - RAIL ROAD',..."
17,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'PIEDRAS NEGRAS - EAGLE PASS', ..."
18,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'TAPACHULA-LOS BRILLANTES', 'Va..."
19,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'XULHA-BELICE', 'Valores': [{'f..."
20,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CD INDUSTRIAL - LAREDO AMER', ..."
21,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CUMBRES FRONTERA - RAIL ROAD',..."
22,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'PIEDRAS NEGRAS - EAGLE PASS', ..."
23,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'TAPACHULA-LOS BRILLANTES', 'Va..."
24,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'XULHA-BELICE', 'Valores': [{'f..."
25,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CD INDUSTRIAL - LAREDO AMER', ..."
26,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'CUMBRES FRONTERA - RAIL ROAD',..."
27,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'PIEDRAS NEGRAS - EAGLE PASS', ..."
28,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'TAPACHULA-LOS BRILLANTES', 'Va..."
29,OK,Energía Asignada de Importación y Exportación,MDA,SIN,PÚBLICA,"{'enlace_int': 'XULHA-BELICE', 'Valores': [{'f..."

In [33]:
# Sistema Interconectado Nacional
resultados_1 = res_1_json['Resultados']
resultados_2 = res_2_json['Resultados']
resultados_3 = res_3_json['Resultados']
resultados_4 = res_4_json['Resultados']
resultados_5 = res_5_json['Resultados']
resultados_6 = res_6_json['Resultados']
resultados_7 = res_7_json['Resultados']
resultados_8 = res_8_json['Resultados']

# Baja California
resultados_1BC = res_1BC_json['Resultados']
resultados_2BC = res_2BC_json['Resultados']
resultados_3BC = res_3BC_json['Resultados']
resultados_4BC = res_4BC_json['Resultados']
resultados_5BC = res_5BC_json['Resultados']
resultados_6BC = res_6BC_json['Resultados']
resultados_7BC = res_7BC_json['Resultados']
resultados_8BC = res_8BC_json['Resultados']

In [34]:
# Sistema Interconectado Nacional
df_1 = pd.json_normalize(data=resultados_1, record_path='Valores', meta=['enlace_int'])
df_2 = pd.json_normalize(data=resultados_2, record_path='Valores', meta=['enlace_int'])
df_3 = pd.json_normalize(data=resultados_3, record_path='Valores', meta=['enlace_int'])
df_4 = pd.json_normalize(data=resultados_4, record_path='Valores', meta=['enlace_int'])
df_5 = pd.json_normalize(data=resultados_5, record_path='Valores', meta=['enlace_int'])
df_6 = pd.json_normalize(data=resultados_6, record_path='Valores', meta=['enlace_int'])
df_7 = pd.json_normalize(data=resultados_7, record_path='Valores', meta=['enlace_int'])
df_8 = pd.json_normalize(data=resultados_8, record_path='Valores', meta=['enlace_int'])

# Baja California
df_1BC = pd.json_normalize(data=resultados_1BC, record_path='Valores', meta=['enlace_int'])
df_2BC = pd.json_normalize(data=resultados_2BC, record_path='Valores', meta=['enlace_int'])
df_3BC = pd.json_normalize(data=resultados_3BC, record_path='Valores', meta=['enlace_int'])
df_4BC = pd.json_normalize(data=resultados_4BC, record_path='Valores', meta=['enlace_int'])
df_5BC = pd.json_normalize(data=resultados_5BC, record_path='Valores', meta=['enlace_int'])
df_6BC = pd.json_normalize(data=resultados_6BC, record_path='Valores', meta=['enlace_int'])
df_7BC = pd.json_normalize(data=resultados_7BC, record_path='Valores', meta=['enlace_int'])
df_8BC = pd.json_normalize(data=resultados_8BC, record_path='Valores', meta=['enlace_int'])

In [35]:
# Sistema Interconectado Nacional
print(len(df_1))
print(len(df_2))
print(len(df_3))
print(len(df_4))
print(len(df_5))
print(len(df_6))
print(len(df_7))
print(len(df_8))
print('------')
print(f'suma filas SIN: {len(df_1)+len(df_2)+len(df_3)+len(df_4)+len(df_5)+len(df_6)+len(df_7)+len(df_8)}')

print('----------------')

# Baja California
print(len(df_1BC))
print(len(df_2BC))
print(len(df_3BC))
print(len(df_4BC))
print(len(df_5BC))
print(len(df_6BC))
print(len(df_7BC))
print(len(df_8BC))
print('------')
print(f'suma filas Baja California: {len(df_1BC)+len(df_2BC)+len(df_3BC)+len(df_4BC)+len(df_5BC)+len(df_6BC)+len(df_7BC)+len(df_8BC)}')

720
480
600
480
480
480
360
120
------
suma filas SIN: 3720
----------------
288
192
600
480
480
480
360
120
------
suma filas Baja California: 3000

In [36]:
df_1.head()

,fecha,hora,imp_comer_asig,imp_asig_ener_inad,imp_asig_conf,imp_asig_cil,imp_total,exp_comer_asig,exp_asig_ener_inad,exp_asig_conf,exp_asig_cil,exp_total,enlace_int
0,2022/07/01,1,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
1,2022/07/01,2,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
2,2022/07/01,3,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
3,2022/07/01,4,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
4,2022/07/01,5,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER

DataFrame
-------

In [38]:
# un solo df
df_todo = pd.concat([df_1, df_1BC,
                     df_2, df_2BC,
                     df_3, df_3BC,
                     df_4, df_4BC,
                     df_5, df_5BC,
                     df_6, df_6BC,
                     df_7, df_7BC,
                     df_8, df_8BC])

df_todo

,fecha,hora,imp_comer_asig,imp_asig_ener_inad,imp_asig_conf,imp_asig_cil,imp_total,exp_comer_asig,exp_asig_ener_inad,exp_asig_conf,exp_asig_cil,exp_total,enlace_int
0,2022/07/01,1,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
1,2022/07/01,2,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
2,2022/07/01,3,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
3,2022/07/01,4,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
4,2022/07/01,5,0,0,0,0,0,0,0,0,0,0,CD INDUSTRIAL - LAREDO AMER
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2022/07/31,20,0,0,0,0,0,22,0,0,0,22,XULHA-BELICE
116,2022/07/31,21,0,0,0,0,0,32,0,0,0,32,XULHA-BELICE
117,2022/07/31,22,0,0,0,0,0,32,0,0,0,32,XULHA-BELICE
118,2022/07/31,23,0,0,0,0,0,32,0,0,0,32,XULHA-BELICE
119,2022/07/31,24,0,0,0,0,0,30,0,0,0,30,XULHA-BELICE

In [39]:
# remove 'enlace int'
col_enlace = df_todo.pop('enlace_int')

In [40]:
# agregar 'enlace_int' al principio
df_todo.insert(0, 'enlace_int', col_enlace)

In [41]:
df_todo.tail()

,enlace_int,fecha,hora,imp_comer_asig,imp_asig_ener_inad,imp_asig_conf,imp_asig_cil,imp_total,exp_comer_asig,exp_asig_ener_inad,exp_asig_conf,exp_asig_cil,exp_total
115,XULHA-BELICE,2022/07/31,20,0,0,0,0,0,22,0,0,0,22
116,XULHA-BELICE,2022/07/31,21,0,0,0,0,0,32,0,0,0,32
117,XULHA-BELICE,2022/07/31,22,0,0,0,0,0,32,0,0,0,32
118,XULHA-BELICE,2022/07/31,23,0,0,0,0,0,32,0,0,0,32
119,XULHA-BELICE,2022/07/31,24,0,0,0,0,0,30,0,0,0,30

In [42]:
# df solo de las columnas de nombre del enlace internacional ('enlace_int')
# fecha, hora y
# totales de importación ('imp_total') y exportación ('exp_total')

df_imp_exp = df_todo[['enlace_int', 'fecha', 'hora', 'imp_total', 'exp_total']]
df_imp_exp.head()

                    enlace_int       fecha hora imp_total exp_total
0  CD INDUSTRIAL - LAREDO AMER  2022/07/01    1         0         0
1  CD INDUSTRIAL - LAREDO AMER  2022/07/01    2         0         0
2  CD INDUSTRIAL - LAREDO AMER  2022/07/01    3         0         0
3  CD INDUSTRIAL - LAREDO AMER  2022/07/01    4         0         0
4  CD INDUSTRIAL - LAREDO AMER  2022/07/01    5         0         0

In [43]:
df_imp_exp.tail()

       enlace_int       fecha hora imp_total exp_total
115  XULHA-BELICE  2022/07/31   20         0        22
116  XULHA-BELICE  2022/07/31   21         0        32
117  XULHA-BELICE  2022/07/31   22         0        32
118  XULHA-BELICE  2022/07/31   23         0        32
119  XULHA-BELICE  2022/07/31   24         0        30

In [44]:
# cambio de Dtype de 'imp_total' y 'exp_total' a int
df_imp_exp['imp_total']  = df_imp_exp['imp_total'].astype(dtype='int64')

/var/folders/5f/rym0wm0n03n2y1710sg1wy940000gn/T/ipykernel_28060/122262573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imp_exp['imp_total']  = df_imp_exp['imp_total'].astype(dtype='int64')

In [45]:
df_imp_exp['exp_total'] = df_imp_exp['exp_total'].astype(dtype='int64')

/var/folders/5f/rym0wm0n03n2y1710sg1wy940000gn/T/ipykernel_28060/1457477053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imp_exp['exp_total'] = df_imp_exp['exp_total'].astype(dtype='int64')

In [46]:
df_imp_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6720 entries, 0 to 119
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   enlace_int  6720 non-null   object
 1   fecha       6720 non-null   object
 2   hora        6720 non-null   object
 3   imp_total   6720 non-null   int64
 4   exp_total   6720 non-null   int64
dtypes: int64(2), object(3)
memory usage: 315.0+ KB

In [47]:
# rename columnas

df_julio = df_imp_exp.rename(columns = {
                            'enlace_int': 'Enlace Internacional',
                             'fecha': 'Fecha',
                             'hora': 'Hora',
                             'imp_total': 'Cantidad de Energia Asignada de Importacion (MWh)',
                             'exp_total': 'Cantidad de Energia Asignada de Exportacion (MWh)'});

In [48]:
df_julio.head(10)

,Enlace Internacional,Fecha,Hora,Cantidad de Energia Asignada de Importacion (MWh),Cantidad de Energia Asignada de Exportacion (MWh)
0,CD INDUSTRIAL - LAREDO AMER,2022/07/01,1,0,0
1,CD INDUSTRIAL - LAREDO AMER,2022/07/01,2,0,0
2,CD INDUSTRIAL - LAREDO AMER,2022/07/01,3,0,0
3,CD INDUSTRIAL - LAREDO AMER,2022/07/01,4,0,0
4,CD INDUSTRIAL - LAREDO AMER,2022/07/01,5,0,0
5,CD INDUSTRIAL - LAREDO AMER,2022/07/01,6,0,0
6,CD INDUSTRIAL - LAREDO AMER,2022/07/01,7,0,0
7,CD INDUSTRIAL - LAREDO AMER,2022/07/01,8,0,0
8,CD INDUSTRIAL - LAREDO AMER,2022/07/01,9,0,0
9,CD INDUSTRIAL - LAREDO AMER,2022/07/01,10,0,0

In [225]:
# Archivo csv

df_julio.to_csv('csv/API_julio_imp_exp.csv', index=False)

--------

Resumen información
-------

**Suma de todos los enlaces internacionales:**

In [49]:
# suma de todos enlaces
df_suma_enlaces = df_julio.groupby(['Enlace Internacional']).sum()
df_total = df_suma_enlaces.append(df_suma_enlaces.sum().rename("TOTAL"))
df_total

,Cantidad de Energia Asignada de Importacion (MWh),Cantidad de Energia Asignada de Exportacion (MWh)
Enlace Internacional,,
CD INDUSTRIAL - LAREDO AMER,29766,215
CUMBRES FRONTERA - RAIL ROAD,644,5678
LA ROSITA - IMPERIAL VALLEY,13702,151
PIEDRAS NEGRAS - EAGLE PASS,0,0
TAPACHULA-LOS BRILLANTES,650,172355
TIJUANA - OTAY MESA,12177,89
XULHA-BELICE,0,49678
TOTAL,56939,228166

**Suma de todos los enlaces ordenados por importaciones:**

In [53]:
# enlaces ordenados por importación mayor a menor
df_imp = df_julio.groupby(['Enlace Internacional']).sum().sort_values(by='Cantidad de Energia Asignada de Importacion (MWh)', ascending=False)
df_suma_imp = df_imp.append(df_imp.sum().rename("TOTAL"))
df_suma_imp

,Cantidad de Energia Asignada de Importacion (MWh),Cantidad de Energia Asignada de Exportacion (MWh)
Enlace Internacional,,
CD INDUSTRIAL - LAREDO AMER,29766,215
LA ROSITA - IMPERIAL VALLEY,13702,151
TIJUANA - OTAY MESA,12177,89
TAPACHULA-LOS BRILLANTES,650,172355
CUMBRES FRONTERA - RAIL ROAD,644,5678
PIEDRAS NEGRAS - EAGLE PASS,0,0
XULHA-BELICE,0,49678
TOTAL,56939,228166

**Suma de todos los enlaces ordenados por exportaciones:**

In [54]:
# enlaces ordenados por exportación mayor a menor
df_exp = df_julio.groupby(['Enlace Internacional']).sum().sort_values(by='Cantidad de Energia Asignada de Exportacion (MWh)', ascending=False)
df_suma_exp = df_exp.append(df_exp.sum().rename("TOTAL"))
df_suma_exp

,Cantidad de Energia Asignada de Importacion (MWh),Cantidad de Energia Asignada de Exportacion (MWh)
Enlace Internacional,,
TAPACHULA-LOS BRILLANTES,650,172355
XULHA-BELICE,0,49678
CUMBRES FRONTERA - RAIL ROAD,644,5678
CD INDUSTRIAL - LAREDO AMER,29766,215
LA ROSITA - IMPERIAL VALLEY,13702,151
TIJUANA - OTAY MESA,12177,89
PIEDRAS NEGRAS - EAGLE PASS,0,0
TOTAL,56939,228166