In [148]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import html5lib
import yfinance as yf

In [9]:
#PARTE NRO 1 : SE EXTRAJO DATA EN TIEMPO REAL DE YAHOO FINANCE CON API Y LIBRERIA yfinance DE ESTE LINK https://github.com/ranaroussi/yfinance

msft = yf.Ticker("AAPL")
print(msft)

hist = msft.history(period="max")
hist

yfinance.Ticker object <AAPL>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099874,0.100308,0.099874,0.099874,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.095098,0.095098,0.094663,0.094663,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.088149,0.088149,0.087715,0.087715,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089886,0.090320,0.089886,0.089886,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.092492,0.092926,0.092492,0.092492,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-15 00:00:00-05:00,152.220001,153.589996,148.559998,150.039993,89868300,0.0,0.0
2022-11-16 00:00:00-05:00,149.130005,149.869995,147.289993,148.789993,64218300,0.0,0.0
2022-11-17 00:00:00-05:00,146.429993,151.479996,146.149994,150.720001,80389400,0.0,0.0
2022-11-18 00:00:00-05:00,152.309998,152.699997,149.970001,151.289993,74794600,0.0,0.0
2022-11-21 00:00:00-05:00,150.160004,150.369995,147.720001,148.009995,58646900,0.0,0.0

In [ ]:

#SE EXTRAJO LA DATA DEL PRECIO DE LOS PRODUCTOS DE UNA DE LAS GRANDES CADENAS DE SUPRMERCADOS EN VENEZUELA LLAMADA PLAN SUAREZ, SON 480 PAGINAS DE PRODUCTOS

In [87]:

lista = []
for i in range(2,482) :
    url2 = f'https://www.plansuarez.com/index.php?route=product/catalog&page={i}'
    link1 = requests.get(url2)
    sopa = BeautifulSoup(link1.content)
    hack = sopa.select('span.price-normal')
    lista.append([tag.text for tag in hack])
flat_list = [item for sublist in lista for item in sublist]

print('done')

#flat_list hay 482 paginas

done

In [72]:

lista3 = []
for i in range(2,482) :
    url2 = f'https://www.plansuarez.com/index.php?route=product/catalog&page={i}'
    link3 = requests.get(url2)
    sopa3 = BeautifulSoup(link3.content)
    hack1 = sopa3.select('span.price-tax')
    lista3.append([tag.text for tag in hack1])
flat_list3 = [item for sublist in lista3 for item in sublist]
print('done')

done

In [89]:

#DE IGUAL FORMA SE EXTRAJO LA DATA DE LOS PRODUCTOS

In [149]:


lista2 = []
for i in range(2,482) :
    url = f'https://www.plansuarez.com/index.php?route=product/catalog&page={i}'
    link = requests.get(url)
    sopa = BeautifulSoup(link1.content)
    hack = sopa.select('div.name')
    lista2.append([tag.text for tag in hack])
flat_list2 = [item for sublist in lista2 for item in sublist]

print('done')

done

In [ ]:
# SE EXTRAJERON Y LIMPIARON LAS TASAS DE CAMBIO EN BS, DOLARES Y PESOS MEXICANOS EN PAGINAS FIABLES

In [118]:

url2 = 'https://monitordolarvenezuela.com/'
link2 = requests.get(url2)
link2.status_code
sopa2 = BeautifulSoup(link2.content , 'html.parser')
bcv = sopa2.select('p')
a = [ i.replace('bs =','') for i in bcv[0]]
b = [ float(i.replace('Bs =','').replace(',','.')) for i in a]
tasa_bs = b[0]
tasa_bs

10.235

In [142]:
url3 = 'https://www.google.com/finance/quote/USD-MXN?sa=X&ved=2ahUKEwisqo34vsf7AhXHRTABHZrjA1kQmY0JegQICBAc'
link3 = requests.get(url3)
link3.status_code
sopa2 = BeautifulSoup(link3.content , 'html.parser')
mex = sopa2.select('div.YMlKec.fxKbKc')
usd_mex = [float(i.text) for i in mex]
tasa_mex = usd_mex[0]
tasa_mex

19.3825

In [ ]:
#SE CREO EN DATAFRAME Y SE LIMPIARON LOS CAMPOS DE PRECIO_BS PARA SER MANEJADO COMO UN NUMERO DECIMAL

In [147]:
flat_list_mod = [i.replace('Bs.','').replace(',','') for i in flat_list]

flat_list_mod = [float(i) for i in flat_list_mod]



print(len(flat_list) , len(flat_list2))

dicti = {'PRODUCTO' : flat_list2 , 'PRECIO_BS' : flat_list_mod  }

df = pd.DataFrame(dicti)
df['PRECIO_USD'] = df['PRECIO_BS']/tasa_bs
df['PRECIO_MEX'] = df['PRECIO_USD']*tasa_mex
df

7680 7680

,PRODUCTO,PRECIO_BS,PRECIO_USD,PRECIO_MEX
0,ABRIDOR DE BOTELLA SFRONT COLORES VARIOS,41.79,4.083048,79.139685
1,ABRILLANTADOR KEM 4KG NEUTRO AL FRIO,386.08,37.721544,731.137821
2,ABRILLANTADOR KEM 4KG NEUTRO AL FRIO,386.08,37.721544,731.137821
3,ACEITE 4 TIEMPOS INCA PARA MOTO,94.98,9.279922,179.868085
4,ACEITE ADEREZO OLIVA BOA MESA PLAS 1LT,134.51,13.142159,254.727902
...,...,...,...,...
7675,ACEITE FULL SYNTHETIC SN 5W30 VENOCO GAL,184.25,18.001954,348.922875
7676,SANGRIA MAL PORTADA 175LT,42.65,4.167074,80.768307
7677,REFRESCO GLUP 2LT COLA,10.21,0.997557,19.335156
7678,LECHE POLVO DOBON 400GR COMPLETA,38.38,3.749878,72.682008
7679,AGUA MINERAL MINALBA 600ML,7.83,0.765022,14.828039