#### The World Bank Data API

In [2]:
#https://datahelpdesk.worldbank.org/knowledgebase/articles/889392#how-to-use-the-v2-indicators-api
#https://datahelpdesk.worldbank.org/knowledgebase/articles/898581
#https://pypi.org/project/wbgapi/

In [6]:
import pandas as pd
import wbgapi as wbBB

### WBGAPI includes sub-packages for major features in the World Bank API:

series = Indicators (e.g., 'SP.POP.TOTL')

economy	= Countries and economies (could be subnational for some databases)

time  =	Time (usually annual, sometimes quarterly or monthly)

source = Databases (e.g., WDI, Doing Business, International Debt)

region = World Bank regions (this is global to all databases)

income = World Bank income groups (also global)

lending = World Bank lending types (also global)

topic =	World Bank topics (this is also a global list and discrete from the Topic metadata field for series)

### functions for accessing and displaying elements of aboce features

#list = Returns an iterable list (python generator) of element

#get = Returns a single element, e.g. get('SP.POP.TOTL')

#info = Like list but returns a human-readable table

#Series =  Like list but returns a pandas Series

In [84]:
#to check to subpackage info just change the name of the sub-package
#wb.series.info()
wb.series.info(q='export')
#wb.source.info()
#wb.time.info()
#wb.region.info()
#wb.lending.info()
#wb.topic.info()

id                 value
-----------------  -------------------------------------------------------------------------------------------------------------------------
BX.GSR.CCIS.CD     ICT service exports (BoP, current US$)
BX.GSR.CCIS.ZS     ICT service exports (% of service exports, BoP)
BX.GSR.GNFS.CD     Exports of goods and services (BoP, current US$)
BX.GSR.MRCH.CD     Goods exports (BoP, current US$)
BX.GSR.NFSV.CD     Service exports (BoP, current US$)
BX.GSR.TOTL.CD     Exports of goods, services and primary income (BoP, current US$)
GC.TAX.EXPT.CN     Taxes on exports (current LCU)
GC.TAX.EXPT.ZS     Taxes on exports (% of tax revenue)
IC.CUS.DURS.EX     Average time to clear exports through customs (days)
IC.EXP.CSBC.CD     Cost to export, border compliance (US$)
IC.EXP.CSDC.CD     Cost to export, documentary compliance (US$)
IC.EXP.TMBC        Time to export, border compliance (hours)
IC.EXP.TMDC        Time to export, documentary compliance (hours)
LP.EXP.DURS.MD     Lead time to export, median case (days)
MS.MIL.XPRT.KD     Arms exports (SIPRI trend indicator values)
NE.EXP.GNFS.CD     Exports of goods and services (current US$)
NE.EXP.GNFS.CN     Exports of goods and services (current LCU)
NE.EXP.GNFS.KD     Exports of goods and services (constant 2015 US$)
NE.EXP.GNFS.KD.ZG  Exports of goods and services (annual % growth)
NE.EXP.GNFS.KN     Exports of goods and services (constant LCU)
NE.EXP.GNFS.ZS     Exports of goods and services (% of GDP)
NY.EXP.CAPM.KN     Exports as a capacity to import (constant LCU)
TX.MNF.TECH.ZS.UN  Medium and high-tech exports (% manufactured exports)
TX.QTY.MRCH.XD.WD  Export volume index (2000 = 100)
TX.UVI.MRCH.XD.WD  Export unit value index (2015 = 100)
TX.VAL.AGRI.ZS.UN  Agricultural raw materials exports (% of merchandise exports)
TX.VAL.FOOD.ZS.UN  Food exports (% of merchandise exports)
TX.VAL.FUEL.ZS.UN  Fuel exports (% of merchandise exports)
TX.VAL.ICTG.ZS.UN  ICT goods exports (% of total goods exports)
TX.VAL.MANF.ZS.UN  Manufactures exports (% of merchandise exports)
TX.VAL.MMTL.ZS.UN  Ores and metals exports (% of merchandise exports)
TX.VAL.MRCH.AL.ZS  Merchandise exports to economies in the Arab World (% of total merchandise exports)
TX.VAL.MRCH.CD.WT  Merchandise exports (current US$)
TX.VAL.MRCH.HI.ZS  Merchandise exports to high-income economies (% of total merchandise exports)
TX.VAL.MRCH.OR.ZS  Merchandise exports to low- and middle-income economies outside region (% of total merchandise exports)
TX.VAL.MRCH.R1.ZS  Merchandise exports to low- and middle-income economies in East Asia & Pacific (% of total merchandise exports)
TX.VAL.MRCH.R2.ZS  Merchandise exports to low- and middle-income economies in Europe & Central Asia (% of total merchandise exports)
TX.VAL.MRCH.R3.ZS  Merchandise exports to low- and middle-income economies in Latin America & the Caribbean (% of total merchandise exports)
TX.VAL.MRCH.R4.ZS  Merchandise exports to low- and middle-income economies in Middle East & North Africa (% of total merchandise exports)
TX.VAL.MRCH.R5.ZS  Merchandise exports to low- and middle-income economies in South Asia (% of total merchandise exports)
TX.VAL.MRCH.R6.ZS  Merchandise exports to low- and middle-income economies in Sub-Saharan Africa (% of total merchandise exports)
TX.VAL.MRCH.RS.ZS  Merchandise exports by the reporting economy, residual (% of total merchandise exports)
TX.VAL.MRCH.WL.CD  Merchandise exports by the reporting economy (current US$)
TX.VAL.MRCH.WR.ZS  Merchandise exports to low- and middle-income economies within region (% of total merchandise exports)
TX.VAL.MRCH.XD.WD  Export value index (2000 = 100)
TX.VAL.SERV.CD.WT  Commercial service exports (current US$)
TX.VAL.TECH.CD     High-technology exports (current US$)
TX.VAL.TECH.MF.ZS  High-technology exports (% of manufactured exports)
                   48 elements

In [21]:
wb.series.info(q='inflation')

id                    value
--------------------  -------------------------------------------------
FP.CPI.TOTL.ZG        Inflation, consumer prices (annual %)
NY.GDP.DEFL.KD.ZG     Inflation, GDP deflator (annual %)
NY.GDP.DEFL.KD.ZG.AD  Inflation, GDP deflator: linked series (annual %)
                      3 elements

In [22]:
wb.data.DataFrame('FP.CPI.TOTL.ZG')

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
economy,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,5.404815,7.240978
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN
AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.492522,3.925603
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,1.986136,3.238225,...,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585,22.021234
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105

In [23]:

wb.data.DataFrame('FP.CPI.TOTL.ZG',time=[2018,2019,2020,2021])

            YR2018      YR2019      YR2020     YR2021
economy
ABW       3.626041    4.257462         NaN        NaN
AFE       4.720811    4.120246    5.404815   7.240978
AFG       0.626149    2.302373         NaN        NaN
AFW       1.784050    1.758565    2.492522   3.925603
AGO      19.628608   17.081215         NaN        NaN
...            ...         ...         ...        ...
XKX       1.053798    2.675992    0.198228   3.353691
YEM            NaN         NaN         NaN        NaN
ZAF       4.517165    4.120246    3.210036   4.611672
ZMB       7.494572    9.150316   15.732585  22.021234
ZWE      10.618866  255.304991  557.201817  98.546105

[266 rows x 4 columns]

In [28]:
#extracting inflation of latinamerica
wb.data.DataFrame('FP.CPI.TOTL.ZG', 'LCN',time=[2018,2019,2020,2021])

           YR2018    YR2019    YR2020    YR2021
economy
LCN      2.379517  2.371679  1.380426  4.261051

In [61]:
#extracting inflation of every country of latinamerica
wb.data.DataFrame('NY.GDP.PCAP.CD', wb.region.members('LCN'),time=[2018,2019,2020,2021])

               YR2018        YR2019        YR2020        YR2021
economy
ABW      30253.714235  31135.884356  23384.298791           NaN
ARG      11795.159387  10076.355241   8585.694742  10729.232578
ATG      16679.591662  17376.649677  13992.744480  14900.797402
BHS      33077.391834  33872.334307  24665.096835  28239.366714
BLZ       4927.194224   4983.336114   3987.796596   4420.491372
BOL       3548.590780   3552.068144   3137.989617   3414.892849
BRA       9151.381732   8876.059836   6814.875632   7518.834284
BRB      17782.874732  18480.056593  16318.748105  17033.937186
CHL      15772.333484  14699.462781  13220.570758  16502.838571
COL       6729.583332   6418.615783   5312.198556   6131.225922
CRI      12485.423896  12762.138007  12201.926033  12508.615628
CUB       8824.194008   9125.878679   9477.852873           NaN
CUW      18956.097914  19024.177230  16109.861667           NaN
CYM      86180.539695  91513.042673  85346.761953           NaN
DMA       7745.376963   8516.280039   7003.859021   7559.975039
DOM       8050.644076   8282.117131   7268.196910   8603.789905
ECU       6295.934662   6222.524653   5627.772280   5934.875496
GRD      10466.882211  10834.495680   9273.199292   9928.621733
GTM       4478.424646   4638.634943   4603.339643   5025.575573
GUY       6145.819277   6609.511280   6955.939217   9374.804570
HND       2510.322943   2574.356751   2405.732848   2831.033021
HTI       1479.345827   1312.770636   1272.367992   1814.674048
JAM       5359.993789   5369.498371   4664.530242   4586.650509
KNA      20567.258265  22047.883027  18440.853679  18230.132347
LCA      11353.715229  11591.080435   8804.561089   9570.995457
MAF               NaN           NaN           NaN           NaN
MEX       9686.984927   9950.217622   8431.665017   9926.422768
NIC       2014.575189   1924.471816   1900.043594   2090.753461
PAN      15544.999076  15774.254952  12509.835291  14516.458047
PER       6958.497262   7023.077526   6117.493571   6692.248375
PRI      31604.701514  32850.548612  31429.866118           NaN
PRY       5782.784550   5383.574422   4967.687212   5400.103826
SLV       4052.624775   4167.730939   3798.636521   4408.520365
SUR       6938.086981   6853.693411   4916.605666   4836.332633
SXM      28988.259209           NaN           NaN           NaN
TCA      29553.136698  31350.866628  23879.926649  24047.054709
TTO      17139.185674  17123.116287  15285.940487  15243.122867
URY      18703.860292  17688.015008  15418.815309  17020.648636
VCT       8024.028496   8229.722486   7860.821354   7996.614002
VEN               NaN           NaN           NaN           NaN
VGB               NaN           NaN           NaN           NaN
VIR      36653.863048  38596.030712  39552.168595           NaN

In [95]:
#'FP.CPI.TOTL.ZG' = inflation
#'NY.GDP.PCAP.CD' = GDP
# BX.GSR.GNFS.CD   = Exports of goods and services (BoP, current US$)
indicators=['FP.CPI.TOTL.ZG','NY.GDP.PCAP.CD','BX.GSR.GNFS.CD']

In [93]:
df=wb.data.DataFrame(indicators, wb.region.members('LCN'),time=[2021],labels=True)

In [94]:
df

,Country,BX.GSR.GNFS.CD,FP.CPI.TOTL.ZG,NY.GDP.PCAP.CD
economy,,,,
GRD,Grenada,3.937664e+08,1.219512,9928.621733
PRY,Paraguay,1.415415e+10,4.787983,5400.103826
ATG,Antigua and Barbuda,7.494757e+08,2.062996,14900.797402
DMA,Dominica,1.049586e+08,0.517172,7559.975039
ARG,Argentina,8.734536e+10,NaN,10729.232578
CUB,Cuba,NaN,NaN,NaN
HND,Honduras,7.785891e+09,4.480880,2831.033021
VCT,St. Vincent and the Grenadines,1.257772e+08,1.572729,7996.614002
MAF,St. Martin (French part),NaN,NaN,NaN
VEN,"Venezuela, RB",NaN,NaN,NaN
BHS,"Bahamas, The",NaN,2.904913,28239.366714
PER,Peru,6.609779e+10,4.271664,6692.248375
CRI,Costa Rica,2.381355e+10,1.726478,12508.615628
VIR,Virgin Islands (U.S.),NaN,NaN,NaN
NIC,Nicaragua,NaN,4.928414,2090.753461
PRI,Puerto Rico,NaN,NaN,NaN
JAM,Jamaica,NaN,5.862782,4586.650509
PAN,Panama,2.723685e+10,1.630703,14516.458047
SLV,El Salvador,8.490952e+09,3.466926,4408.520365
MEX,Mexico,5.218071e+11,5.689208,9926.422768
VGB,British Virgin Islands,NaN,NaN,NaN
DOM,Dominican Republic,2.050900e+10,8.243003,8603.789905
ECU,Ecuador,2.935129e+10,0.133251,5934.875496
KNA,St. Kitts and Nevis,4.084707e+08,1.195689,18230.132347
SXM,Sint Maarten (Dutch part),NaN,NaN,NaN
URY,Uruguay,1.887214e+10,7.747914,17020.648636
TTO,Trinidad and Tobago,NaN,NaN,15243.122867
CUW,Curacao,NaN,NaN,NaN
CHL,Chile,NaN,4.524568,16502.838571
BRA,Brazil,3.171753e+11,8.301660,7518.834284
HTI,Haiti,1.241186e+09,16.841524,1814.674048
LCA,St. Lucia,8.907245e+08,2.410703,9570.995457
BOL,Bolivia,1.132586e+10,0.737384,3414.892849
CYM,Cayman Islands,NaN,NaN,NaN
TCA,Turks and Caicos Islands,NaN,NaN,24047.054709
SUR,Suriname,NaN,59.111710,4836.332633
GUY,Guyana,NaN,5.032856,9374.804570
BLZ,Belize,1.042045e+09,NaN,4420.491372
COL,Colombia,5.037575e+10,3.495146,6131.225922
BRB,Barbados,NaN,NaN,17033.937186
GTM,Guatemala,1.531819e+10,4.261051,5025.575573
ABW,Aruba,2.200544e+09,NaN,NaN

In [96]:
df.columns=['Country','GDP per Capita','Inflation','Exports of goods and services']

In [97]:
df.reset_index(drop=True,inplace=True)
df

,Country,GDP per Capita,Inflation,Exports of goods and services
0,Grenada,3.937664e+08,1.219512,9928.621733
1,Paraguay,1.415415e+10,4.787983,5400.103826
2,Antigua and Barbuda,7.494757e+08,2.062996,14900.797402
3,Dominica,1.049586e+08,0.517172,7559.975039
4,Argentina,8.734536e+10,NaN,10729.232578
5,Cuba,NaN,NaN,NaN
6,Honduras,7.785891e+09,4.480880,2831.033021
7,St. Vincent and the Grenadines,1.257772e+08,1.572729,7996.614002
8,St. Martin (French part),NaN,NaN,NaN
9,"Venezuela, RB",NaN,NaN,NaN
10,"Bahamas, The",NaN,2.904913,28239.366714
11,Peru,6.609779e+10,4.271664,6692.248375
12,Costa Rica,2.381355e+10,1.726478,12508.615628
13,Virgin Islands (U.S.),NaN,NaN,NaN
14,Nicaragua,NaN,4.928414,2090.753461
15,Puerto Rico,NaN,NaN,NaN
16,Jamaica,NaN,5.862782,4586.650509
17,Panama,2.723685e+10,1.630703,14516.458047
18,El Salvador,8.490952e+09,3.466926,4408.520365
19,Mexico,5.218071e+11,5.689208,9926.422768
20,British Virgin Islands,NaN,NaN,NaN
21,Dominican Republic,2.050900e+10,8.243003,8603.789905
22,Ecuador,2.935129e+10,0.133251,5934.875496
23,St. Kitts and Nevis,4.084707e+08,1.195689,18230.132347
24,Sint Maarten (Dutch part),NaN,NaN,NaN
25,Uruguay,1.887214e+10,7.747914,17020.648636
26,Trinidad and Tobago,NaN,NaN,15243.122867
27,Curacao,NaN,NaN,NaN
28,Chile,NaN,4.524568,16502.838571
29,Brazil,3.171753e+11,8.301660,7518.834284
30,Haiti,1.241186e+09,16.841524,1814.674048
31,St. Lucia,8.907245e+08,2.410703,9570.995457
32,Bolivia,1.132586e+10,0.737384,3414.892849
33,Cayman Islands,NaN,NaN,NaN
34,Turks and Caicos Islands,NaN,NaN,24047.054709
35,Suriname,NaN,59.111710,4836.332633
36,Guyana,NaN,5.032856,9374.804570
37,Belize,1.042045e+09,NaN,4420.491372
38,Colombia,5.037575e+10,3.495146,6131.225922
39,Barbados,NaN,NaN,17033.937186
40,Guatemala,1.531819e+10,4.261051,5025.575573
41,Aruba,2.200544e+09,NaN,NaN

In [102]:
sorted_df = df.sort_values(by=['Exports of goods and services'], ascending=False)
sorted_df

,Country,GDP per Capita,Inflation,Exports of goods and services
10,"Bahamas, The",NaN,2.904913,28239.366714
34,Turks and Caicos Islands,NaN,NaN,24047.054709
23,St. Kitts and Nevis,4.084707e+08,1.195689,18230.132347
39,Barbados,NaN,NaN,17033.937186
25,Uruguay,1.887214e+10,7.747914,17020.648636
28,Chile,NaN,4.524568,16502.838571
26,Trinidad and Tobago,NaN,NaN,15243.122867
2,Antigua and Barbuda,7.494757e+08,2.062996,14900.797402
17,Panama,2.723685e+10,1.630703,14516.458047
12,Costa Rica,2.381355e+10,1.726478,12508.615628
4,Argentina,8.734536e+10,NaN,10729.232578
0,Grenada,3.937664e+08,1.219512,9928.621733
19,Mexico,5.218071e+11,5.689208,9926.422768
31,St. Lucia,8.907245e+08,2.410703,9570.995457
36,Guyana,NaN,5.032856,9374.804570
21,Dominican Republic,2.050900e+10,8.243003,8603.789905
7,St. Vincent and the Grenadines,1.257772e+08,1.572729,7996.614002
3,Dominica,1.049586e+08,0.517172,7559.975039
29,Brazil,3.171753e+11,8.301660,7518.834284
11,Peru,6.609779e+10,4.271664,6692.248375
38,Colombia,5.037575e+10,3.495146,6131.225922
22,Ecuador,2.935129e+10,0.133251,5934.875496
1,Paraguay,1.415415e+10,4.787983,5400.103826
40,Guatemala,1.531819e+10,4.261051,5025.575573
35,Suriname,NaN,59.111710,4836.332633
16,Jamaica,NaN,5.862782,4586.650509
37,Belize,1.042045e+09,NaN,4420.491372
18,El Salvador,8.490952e+09,3.466926,4408.520365
32,Bolivia,1.132586e+10,0.737384,3414.892849
6,Honduras,7.785891e+09,4.480880,2831.033021
14,Nicaragua,NaN,4.928414,2090.753461
30,Haiti,1.241186e+09,16.841524,1814.674048
5,Cuba,NaN,NaN,NaN
8,St. Martin (French part),NaN,NaN,NaN
9,"Venezuela, RB",NaN,NaN,NaN
13,Virgin Islands (U.S.),NaN,NaN,NaN
15,Puerto Rico,NaN,NaN,NaN
20,British Virgin Islands,NaN,NaN,NaN
24,Sint Maarten (Dutch part),NaN,NaN,NaN
27,Curacao,NaN,NaN,NaN
33,Cayman Islands,NaN,NaN,NaN
41,Aruba,2.200544e+09,NaN,NaN

In [ ]:
sorted_df.to_csv('latinamerica_information.csv')