In [21]:
import requests
import json
import pandas as pd
import time

In [25]:
base_url = "https://rickandmortyapi.com/api"

# This is done so all endpoints of the api can be used
# and not just the /character one.

paths = {"characters": "/character?page=", "locations": "/location?page=", "episodes": "/episode?page="}
final_urls = {f"all_{key}": base_url + value for (key,value) in paths.items()}

{'all_characters': 'https://rickandmortyapi.com/api/character?page=', 'all_locations': 'https://rickandmortyapi.com/api/location?page=', 'all_episodes': 'https://rickandmortyapi.com/api/episode?page='}

In [29]:
i = 1
next_ok = True
results_for_df = []

while next_ok == True:
    characters_response = requests.get(f"{final_urls['all_characters']}{i}")
    results = characters_response.json()
    next_page = results["info"]["next"]
    i += 1
    if next_page is None:                                       
        next_ok = False
    results_for_df.append(results["results"])

In [37]:
flat_results = [df for result in results_for_df for df in result]
print(len(flat_results))
results_dataframe = pd.DataFrame(flat_results)

# This part would need to be modified if you're using a different endpoint
# than /character, sinde the data manipulations are specific to the 
# characters data obtained from this endpoint.

results_dataframe.set_index("id", inplace = True)
results_dataframe["origin"] = results_dataframe["origin"].apply(lambda x: x.get("name"))
results_dataframe["location"] = results_dataframe["location"].apply(lambda x: x.get("name"))
results_dataframe.drop(columns = ["episode", "created", "url", "image"], inplace = True)

results_dataframe.to_csv("output/api_data.csv")
results_dataframe.head()

826

,name,status,species,type,gender,origin,location
id,,,,,,,
1,Rick Sanchez,Alive,Human,,Male,Earth (C-137),Citadel of Ricks
2,Morty Smith,Alive,Human,,Male,unknown,Citadel of Ricks
3,Summer Smith,Alive,Human,,Female,Earth (Replacement Dimension),Earth (Replacement Dimension)
4,Beth Smith,Alive,Human,,Female,Earth (Replacement Dimension),Earth (Replacement Dimension)
5,Jerry Smith,Alive,Human,,Male,Earth (Replacement Dimension),Earth (Replacement Dimension)